.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div {
  margin: 0px;
  padding: 0px;
}

.club-members {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 33% 33% 33%; */
}

.photo-container {
  height: 300px;
  width: 200px;
}

.photo-container img {
  width: 100%;
  height: 100%;
}





