.App {
  text-align: center;
  margin: 0px;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.club-members {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0px auto; */
  /* max-width: 800px; */
}

.club-name {
  margin-bottom: 20px;
}

.header {
  margin-bottom: 20px;
}

.email-input {
  text-align: left;
  max-width: 400px;
  margin: 0px auto;
}

.group-drop-down {
  text-align: left;
  max-width: 400px;
  margin: 0px auto;
}


